body {
    background-color: #fafaf9;
    margin: 0;
    display: flex;
    flex-direction: row;
    font-family: "Roboto", "Helvetica", "Arial", sans-serif;

}

.left h5, #hamList a h5 {
    margin-left: 32px;
}

.material-icons {
    opacity: 0.87;
}

h1, h2, h3, h4, h5, h6, .subheading, .body2, .body1, .caption, .button {
    margin: 0;
    opacity: 0.87;
}

h5 {
    font-weight: 500;
}

.subheading {
    font-weight: 400;
    font-size: 16px;
}

.body2 {
    font-weight: 500;
    font-size: 14px;
}

.body1 {
    font-weight: 400;
    font-size: 14px;
    opacity: 0.54;
}

.caption {
    font-weight: 400;
    font-size: 12px;
}

.button {
    font-weight: 500;
    font-size: 14px;
}

#main {
    width: 100vw;
    margin: 0;
    display: flex;
    flex-direction: column;
}

a {
    text-decoration: none;
    margin: auto;
    color: black;
    opacity: 0.38;
}

#logo {
    height: 144px;
    align-self: center;
    margin: 16px;
}

#tabs .selected {
    box-shadow: inset 0px -2px 0px 0px red;
    opacity: 0.87;
}

#hamList .selected {
    background-color: rgba(0,0,0,.05);
}

#tabs a {
    flex-basis: 10px;
    flex-grow: 1;
    height: 48px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    opacity: 0.38;
}

#toolbar {
    width: inherit;
    background-color: #f5f5f5;
    display: flex;
    flex-direction: column;
    position: fixed;
    z-index: 1;

    box-shadow: 0 2px 5px rgba(0,0,0,.26);
}

#taskbar {
    width: 100%;
    height: 24px;
    background-color: #dad8d4;
}
#content {
    z-index: 0;
    width: 100%;
    display: flex;
    flex-direction: column;
}

#settings-spacer {
    height: 32px;
}

#choose-spacer {
    height: 104px;
}

#mainbar {
    width: calc(100% - 28px);
    height: 56px;
    padding-left: 16px;
    padding-right: 12px;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.icon {
    width: 24px;
    height: 24px;
    margin: 0;
}

.label {
    margin-left: 16px;
    line-height: 1.4;
}

#demo-menu-lower-right {
    margin-right: 6px;
    margin-left: 6px;
}

.left {
    display: flex;
    margin-right: auto;
    align-items: center;
}

.first {
    margin-top: 8px;
}

#hamList a {
    height: 48px;
    display: flex;
    flex-direction: row;
    align-items: center;
    padding-left: 16px;
    padding-right: 16px;
    opacity: 1;
    width: calc(100% - 32px);
}

ul, #hamList {
    display: flex;
    flex-direction: column;
    list-style-type: none;
    padding: 0;
}

#hamList {
    margin-top: 56px;
    box-shadow: inset 0px 5px 3px -5px rgba(0,0,0,0.26);

}

#hamList a img {
    margin-left: 0 !important;
}

#tabs {
    width: 100%;
    height: 48px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

#hamContainer {
    display: flex;
    flex-direction: row;
    position: fixed;
    width: 100vw;
    height: 100vh;
    left: 0;
    top: 0;
    z-index: 2;
    pointer-events: none;
}

#hamburger {
    flex-grow: 1;
    max-width: 320px;
    flex-basis: 320px;
    --shadow-color: rgba(0,0,0,0);
    margin-left: -320px;
    box-shadow: 0px 0px 16px 0px var(--shadow-color);
    transition: margin-left 0.3s cubic-bezier(.4,0,.2,1), box-shadow 0.3s cubic-bezier(1, 0, 1,0);
    background-color: #fafaf9;
    pointer-events: auto;
}

#scrim {
    background-color: black;
    flex-basis: 56px;
    min-width: 56px;
    flex-grow: 1;
    --opacity: 0;
    opacity: var(--opacity);
    transition: opacity 0.3s cubic-bezier(.4,0,.2,1);
    pointer-events: none;
}

#hamburger.active {
    margin-left: 0px;
    transition: margin-left 0.3s cubic-bezier(.4,0,.2,1), box-shadow 0.3s cubic-bezier(0, 1, 0, 1);
    --shadow-color: rgba(0,0,0,0.26);
}

#list-settings .mdl-list__item {
    border-bottom: 1px solid rgba(0,0,0,0.12);
}

#scrim.active {
    --opacity: 0.5;
    pointer-events: auto;
}


#burgerLogo {
    width: 100%;
    box-shadow: inset 0px -2px 0px 0px red;
}

#search_bar {
    width: calc(100% - 24px);

    position: fixed;
    z-index: 2;
    transition: opacity 0.3s cubic-bezier(.4,0,.2,1);
    height: 56px;
    background-color: white;
    padding-left: 12px;
    padding-right: 12px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-shadow: 0 2px 5px rgba(0,0,0,.26);
}

input {
    box-sizing: border-box;
    border: none;
    font-size: 16px;
    background-color: white;
    width: 100%;
    height: 100%;
    padding-left: 28px;
}
#skrovmal_search {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
}
input:focus {
    outline: none;
}

.hidden-search {
    opacity: 0;
}

.shown-search {
    opacity: 1;
}

#search_large {
    display: none;
}

@media only screen
    and (orientation: landscape)
    and (min-width: 1024px){

    #search_large {
        display: inline;
    }

    #search_small {
        display: none;
    }

    #menu {
        display: none;
    }

    #main {
        width: calc(100vw - 256px);
        margin-left: 256px;
    }

    #hamContainer {
        width: 256px;
    }

    #scrim {
        display: none;
    }

    body {
        flex-direction: row-reverse;
        justify-content: flex-end;
    }

    #hamburger {
        margin-left: 0px;
        transition: margin-left 0.3s cubic-bezier(.4, 0, .2, 1), box-shadow 0.3s cubic-bezier(0, 1, 0, 1);
        box-shadow: 0px 0px 8px 0px rgba(0,0,0,0.26);
    }
}