body {
    background-color: #fafaf9;
    font-family: Roboto,  sans-serif;
    font-weight: 400;
    margin: 0;
    display: flex;
    flex-direction: row;
}

#main {
    width: 360px;
    height: 640px;
    width: 100vw;
    margin: auto;
    display: flex;
    flex-direction: column;
}

a {
    text-decoration: none;
    margin: auto;
    color: black;
    opacity: 0.38;
}

a.selected {
    color: black;
    opacity: 0.87;
}

#logo {
    height: 144px;
    align-self: center;
    margin: 16px;
}

div.selected {
    box-shadow: inset 0px -2px 0px 0px red;
}

h4.selected {
    opacity: 1;
}

li.selected {
    background-color: rgba(0,0,0,.05);
}

.tab {
    flex-basis: 10px;
    flex-grow: 1;
    height: 48px;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;

}

#toolbar {
    width: 100%;
    min-height: 104px;
    background-color: #f5f5f5;
    display: flex;
    flex-direction: column;
    position: fixed;
    z-index: 1;

    box-shadow: 0 2px 5px rgba(0,0,0,.26);
}

#taskbar {
    width: 100%;
    height: 24px;
    background-color: #dad8d4;
}
#content {
    z-index: 0;
    margin-top: 104px;
    width: 100%;
    display: flex;
    flex-direction: column;
}

#mainbar {
    width: 100%;
    height: 56px;
    display: flex;
    justify-content: flex-end;
}

.icon {
    width: 24px;
    height: 24px;
    margin: 16px;
    margin-right: 0;
}

.avatar {
    width: 40px;
    height: 40px;
    margin: 0px;
    margin-right: 16px;
    clip-path: circle(20px at center);
}

.label {

}

h1 {
    font-size: 20px;
    font-weight: 500;
    opacity: 0.87;
    margin: 16px;
    margin-right: 0;
    margin-left: 32px;
}

h2, h3 {
    font-weight: inherit;
    margin: 0;
}

h2 {
    font-size: 16px;
    opacity: 0.87;
}

h3 {
    font-size: 14px;
    opacity: 0.54;
}

h4 {
    font-size: 14px;
    opacity: 0.87;
    font-weight: 500;
    margin-left: 32px;
}

#more {
    width: 12px;
    margin-right: 16px;
}

.left {
    display: flex;
    margin-right: auto;
    align-items: center;
}

ul {
    display: flex;
    flex-direction: column;
    list-style-type: none;
    padding: 0;
    margin-top: 8px;
}

li {
    display: flex;
    flex-direction: row;
    align-items: center;
    height: 72px;
    padding-left: 16px;
    padding-right: 16px;
}

.first {
    margin-top: 8px;
}

ul {

}

li.hamListItem {
    height: 48px;
    margin-top: 8px;
}

#hamList {
    margin-top: 56px;
    box-shadow: inset 0px 5px 5px -5px rgba(0,0,0,0.26);;
}

.icon.hamListItem {
    margin-left: 0;
}

#tabs {
    width: 100%;
    height: 48px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    font-weight: 500;
    font-size: 14px;
}

#hamContainer {
    display: flex;
    flex-direction: row;
    position: fixed;
    width: 100vw;
    height: 100vh;
    left: 0;
    top: 0;
    z-index: 2;
    pointer-events: none;
}

#hamburger {
    flex-grow: 1;
    max-width: 280px;
    flex-basis: 280px;
    --shadow-color: rgba(0,0,0,0);
    margin-left: -280px;
    box-shadow: 0px 0px 16px 0px var(--shadow-color);
    transition: margin-left 0.3s cubic-bezier(.4,0,.2,1), box-shadow 0.3s cubic-bezier(1, 0, 1,0);
    background-color: #fafaf9;
    pointer-events: auto;
}

#scrim {
    background-color: black;
    flex-basis: 56px;
    min-width: 56px;
    flex-grow: 1;
    --opacity: 0;
    opacity: var(--opacity);
    transition: opacity 0.3s cubic-bezier(.4,0,.2,1);
    pointer-events: none;
}

#hamburger.active {
    margin-left: 0px;
    transition: margin-left 0.3s cubic-bezier(.4,0,.2,1), box-shadow 0.3s cubic-bezier(0, 1, 0, 1);
    --shadow-color: rgba(0,0,0,0.26);
}

#scrim.active {
    --opacity: 0.5;
    pointer-events: auto;
}

#burgerLogo {
    width: 100%;
    box-shadow: inset 0px -2px 0px 0px red;
}


